@page
@using FeatureRequestPortal.Localization
@using FeatureRequestPortal.Permissions
@using FeatureRequestPortal.Web.Pages.FeatureManagement
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Authorization
@model IndexModel
@inject IStringLocalizer<FeatureRequestPortalResource> L
@inject IAuthorizationService AuthorizationService
@section scripts
{
	<abp-script src="/Pages/FeatureManagement/Index.js" />
}
<abp-card>
	<abp-card-header>
		<abp-row>
			<abp-column size-md="_6">
				<abp-card-title>@L["FeatureManagement"]</abp-card-title>
			</abp-column>
			<abp-column size-md="_6" class="text-end">
				@if (await AuthorizationService.IsGrantedAsync(FeatureRequestPortalPermissions.MyFeatures.Create))
                {
					<abp-button id="NewFeatureButton"
							text="@L["NewFeature"].Value"
							icon="plus"
							button-type="Primary" />
				}
			</abp-column>
		</abp-row>
		<abp-row>
			<abp-column size-md="_6">
				<select id="categoryFilter" class="form-select">
					<option value="all">@L["All Categories"]</option>
					<option value="0">@L["Enum:MyFeatureCategory.0"]</option>
					<option value="1">@L["Enum:MyFeatureCategory.1"]</option>
					<option value="2">@L["Enum:MyFeatureCategory.2"]</option>
				</select>
			</abp-column>
			<abp-column size-md="_6">
				<select id="stateFilter" class="form-select">
					<option value="all">@L["All States"]</option>
					<option value="true">@L["Approved"]</option>
					<option value="false">@L["Not Approved"]</option>
				</select>
			</abp-column>
		</abp-row>
	</abp-card-header>

	<abp-card-body>
		<abp-table striped-rows="true" id="MyFeaturesTable"></abp-table>
	</abp-card-body>
</abp-card>
